

<!-- The enctype states that the form is of multipart nature and could contain files (images in this case) : enctype="multipart/form-data"-->
<!-- this is no longer included bcs we are using filepond that is sending image as an encoded string  -->
<div class="postouter">
    <div class="postcard">
        <form action="/posts/<%= post.id %>?_method=PUT" method="POST">
            <%- include('_form_field',{posthead:"Edit Post"}) %> 
        </form>
    </div>
</div>

<!-- NEW POST VIEW -->

<!-- instead of taking inputs here we're making a new partial file since we want this to be shared between new Tags and edit tags file -->