<h1>USER AUTH PAGE</h1>
<!-- <ul>
  <li> <a href="/login">Login</a> </li>
  <li> <a href="/register">Register</a> </li>
</ul> -->


<h1 style="margin-bottom: 20px;">Sign Up</h1> 
<form action="/" method="POST">
    <div class="input-field"><input placeholder="Username" type="text" id="username" name="username"  class="validate" required></div>
    <div class="input-field"><input placeholder="Password" type="password" id="password" name="password"class="validate" required></div>
    <div class="input-field"><input placeholder="Mobile No" type="text" id="phone" name="phone"  class="validate" required></div>
    <div class="input-field"><input placeholder="E-Mail" type="text" id="email" name="email"  class="validate" required></div>
    <button class="second-button">Join</button>
</form>
<br><br><br>

<h1 id="signinhead" style="color: white;margin-bottom: 30px;margin-top: 7px;">Log In</h1>
<form action="/login" method="POST">
    <div class="input-field" style="margin-bottom: 5px;"><input placeholder="Username" id="xyz" name="username" class="validate"></div>
    <div class="input-field" style="margin-bottom: 5px;"><input placeholder="Password" type="password" id="password" name="password" class="validate"></div>
    <button class="second-button" style="margin-bottom: 7px;">Enter</button>
  </form>