<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="submit" class="datebutton" style="background: none;border: none;font-size: 2rem;color: rgb(199, 81, 81);">
      <i class="fas fa-trash"></i></button>
</form>