<header class="mainhead">
    <nav class="header-nav">
        
        <div>
            <input type="checkbox" id="check" />
            <label for="check" style="margin-left: -100px;">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
            </label>
            <div class="sidebar">
                
                <header id="dashid">Dashboard</header>
                <a href="/index">
                    <i class="fas fa-qrcode"></i>
                    <span>Home</span>
                </a>
                <a href="/tags">
                    <i class="fas fa-link"></i>
                    <span>Categories</span>
                </a>
                <a href="/events">
                    <i class="fas fa-stream"></i>
                    <span>Events</span>
                </a>
                <a href="/reviews">
                    <i class="fas fa-comment-alt"></i>
                    <span>Comments</span>
                </a>
                <a href="/contact">
                    <i class="far fa-question-circle"></i>
                    <span>Contact</span>
                </a>
                <a href="/logout">
                    <i class="fas fa-sliders-h"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>

        <div style="margin-top: 2%;"><h3 class="logo">yathartha<span style="font-weight: 300;">goenka</span></h3></div>
    </nav>
    
</header>

