

<header class="mainhead">
    <div></div>
    <nav class="header-nav">
        <div style="margin-right: 130px; margin-left: 10px;"><h3 class="logo">yathartha<span>goenka</span></h3></div>
        
        <div style="margin-left: 170px;">
          <ul>
              <li><a href="/index" class="target">HOME</a></li>
              <li><a href="/tags" class="target">TAGS</a></li>
              <li><a href="/events" class="target">EVENTS</a></li>
              <li><a href="/reviews" class="target">REVIEWS</a></li>
              <li><a href="/logout" class="target">LOGOUT</a></li>
          </ul>
      </div>
    </nav>
    
</header>

