<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <script defer src="/javascripts/searchbutton.js"></script>
    <script defer src="/javascripts/apphome.js"></script>
    <script defer src="/javascripts/indexcorousel.js"></script>
    <script defer src="/javascripts/timer.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.cdnfonts.com/css/abang" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/shared/header.css">
    <link rel="stylesheet" href="/stylesheets/shared/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/shared/logindialogs.css">
    <link rel="stylesheet" href="/stylesheets/shared/tagsindex.css">
    <link rel="stylesheet" href="/stylesheets/shared/indextop.css">
    <link rel="stylesheet" href="/stylesheets/shared/indexmid.css"> 
    <link rel="stylesheet" href="/stylesheets/shared/postcard.css"> 
    <link rel="stylesheet" href="/stylesheets/shared/contact.css"> 
    <link rel="stylesheet" href="/stylesheets/shared/review.css"> 
    <link rel="stylesheet" href="/stylesheets/shared/revcard.css"> 

    <link rel="stylesheet" media="screen and (max-width: 800px)" href="/stylesheets/shared/logindialog2.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <title>Synapse Forum</title>
</head>

<body>
    <div class="containerhead" style="margin-left: 120px;">
        <%- include('../partials/header.ejs') %>
    </div>
    <%- include('../partials/errorMessage.ejs') %> 
    <%- body %>
</body>

</html>


<!-- MAIN PAGE LAYOUT -->

<!-- <link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/shared/indexheading.css">
<link rel="stylesheet" href="/stylesheets/shared/postshow.css">
<link rel="stylesheet" href="/stylesheets/shared/menunav.css">
<link rel="stylesheet" href="/stylesheets/shared/indexcarousel.css">
<link rel="stylesheet" href="/stylesheets/shared/indexanimtext.css">
<link rel="stylesheet" href="/stylesheets/shared/review.css">
<link rel="stylesheet" href="/stylesheets/shared/revcard.css">
<link rel="stylesheet" href="/stylesheets/shared/postindex.css">
<link rel="stylesheet" href="/stylesheets/shared/postcard.css">
<link rel="stylesheet" href="/stylesheets/shared/glitch.css">
<link rel="stylesheet" href="/stylesheets/shared/logindialog.css">
<link rel="stylesheet" href="/stylesheets/shared/rbutton.css">
<link rel="stylesheet" href="/stylesheets/shared/tags.css">
<link rel="stylesheet" href="/stylesheets/shared/tagright.css">
<link rel="stylesheet" href="/stylesheets/shared/tagcards.css">
<link rel="stylesheet" href="/stylesheets/shared/searchbar.css"> -->