<style>
  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

  #indexhoodhead{
    font-family: 'Luckiest Guy', cursive;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    /* margin-left: 80px; */
    margin-top: 15%;
  }

  #indexhoodhead.go{
    animation: slide 1.2s;
  }

  @keyframes slide {
  0%{
    transform: translateX(900px);
  }
  60%{
    transform: translateX(-60px);
  }
  100%{
    transform: translateX(0px);
  }
}
</style>
<div id="mobcategory">
<div>
  <h1 id="indexhoodhead">CATEGORIES</h1>
</div>

<div class="indexbuttoncontainer">
  <a href="/tags" class="button">VIEW</a>
</div>

</div>