<style>
  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

  #indexeventhead{
    font-family: 'Luckiest Guy', cursive;
    font-size: 6.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    margin-left: 80px;
    margin-top: -7%;
  }

  #indexeventhead.go{
    animation: slide 1.2s;
  }

  @keyframes slide {
  0%{
    transform: translateX(900px);
  }
  60%{
    transform: translateX(-60px);
  }
  100%{
    transform: translateX(0px);
  }
}
</style>
<div id="mobevent">
<div>
  <h1 id="indexeventhead" style="margin-top: -10%;position: absolute;">EVENTS</h1>
</div>

<div class="indexbuttoncontainer" style="margin-top: -10%;">
  <a href="/events" class="button">VIEW</a>
</div>

</div>