<div id="indextop">


    <section class="showcase">
        <video id="myVideo" src="/resources/bgvid.mp4" type="video/mp4" muted loop autoplay>
        </video>
        <script>
            var vid = document.getElementById("myVideo");
            vid.playbackRate = 3.5;
        </script>

        <div class="overlay"></div>
        <div class="text">
          <h2>The Next Gen</h2> 
          <h3>Event Management System</h3>
          <p>Excited to be a part of the buzz? Use the user-personalized management system to view and organize events. New Events will be added to the timeline. <br><br> Time till the next blast: </p>
          <time>
            <canvas id="months" width="80" height="80"></canvas>
            <canvas id="days" width="80" height="80"></canvas>
            <canvas id="hours" width="80" height="80"></canvas>
            <canvas id="minutes" width="80" height="80"></canvas>
            <canvas id="seconds" width="80" height="80"></canvas>
          <canvas id="milliseconds" width="80" height="80"></canvas>
        </time>
        </div>



        <ul class="social">
          <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
          <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
          <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
      </section>

</div>


<div class="indexinfo">
    <div class="carouselcontainer" style="margin-left: -50px;" >
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">
        <div class="carouselcards">
        <label class="carouselcard" for="item-1" id="song-1" onclick="disp1()">
            <img src="https://images.unsplash.com/photo-1508178603287-8ac82dd26b94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=359&q=80" alt="song">
        </label>
        <label class="carouselcard" for="item-2" id="song-2" onclick="disp2()">
            <img src="https://images.unsplash.com/photo-1526925539332-aa3b66e35444?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80" alt="song">
        </label>
        <label class="carouselcard" for="item-3" id="song-3" onclick="disp3()">
            <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80" alt="song">
        </label>
        </div>
    </div>

    <%- include('hometext') %>
    <div>
        <div id="userind"  style="visibility: visible;font-family: 'Poppins',sans-serif;font-size: 3.3rem;font-weight: 390;margin-left: 20%;margin-top: 21%;"> <p><%= username %></p> </div>
        <div id="hood" style="visibility: hidden;margin-top: -35%;"><%- include('hoodtext') %></div>
        <div id="profile" style="visibility: hidden;"><%- include('eventtext') %></div>
    </div>
    
</div>


<div id="indextimeline">


    
</div>
