

<div id="tagsbg">

    <div id="tagindextop">

        <h1 id="taghead">CATEGORIES</h1>
        <p>Keep track of how your events are being organized</p>
        <p><a href="/tags/new" id="newtaglink">Trying something new? Add a Tag!</a></p>
        
    </div>

  <div class="tagscontainer">
    <% tags.forEach(tag=>{ %> 
        <a href="/tags/<%= tag.id %>" id="tagcardlink">
            <div class="card">
                <form method="POST" action="/tags/<%= tag.id %>?_method=DELETE">
                    <button type="submit" id="tagclose">×</button>
                </form>
                <h3 class="tagtitle"><%= tag.name %></h3>
                <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                </div>
                <div class="circle">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="stroke" cx="60" cy="60" r="50"/>
                </svg>
                </div>
            </div>
        </a>
    <% }) %> 
  </div>

</div>