<style>

.stars{
    display: flex;
    flex-direction: row;
}

</style>
<div class="stars" style="margin-left: -10px;padding: 15px;margin-top: 12px;font-size: 2.3rem;">
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s1"><i class="fas fa-star"></i></div>
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s2"><i class="fas fa-star"></i></div>
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s3"><i class="fas fa-star"></i></div>
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s4"><i class="fas fa-star"></i></div>
    <div style="color: rgb(129, 129, 129);" id="s5"><i class="fas fa-star"></i></div>
</div>
<br>


<input  class="revinp" type="text" name="keyword" value="<%= review.keyword %>" placeholder="Keyword" required><br>
<input  class="revinp" type="text" name="comment" value="<%= review.comment %>" placeholder="Comment" required><br>
<input type="text" name="rating" id="rate" value="<%= review.rating %>"  placeholder="" required style="visibility: hidden;">

<script>

document.getElementById("s1").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("rate").value="1";
});
document.getElementById("s2").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("rate").value="2";
});
document.getElementById("s3").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("s3").style.color="#ffe642";
    document.getElementById("rate").value="3";
});
document.getElementById("s4").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("s3").style.color="#ffe642";
    document.getElementById("s4").style.color="#ffe642";
    document.getElementById("rate").value="4";
});
document.getElementById("s5").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("s3").style.color="#ffe642";
    document.getElementById("s4").style.color="#ffe642";
    document.getElementById("s5").style.color="#ffe642";
    document.getElementById("rate").value="5";
});
document.getElementById('s'+document.getElementById("rate").value).click();

function decolor(){
    document.getElementById("s1").style.color="rgb(129, 129, 129)";
    document.getElementById("s2").style.color="rgb(129, 129, 129)";
    document.getElementById("s3").style.color="rgb(129, 129, 129)";
    document.getElementById("s4").style.color="rgb(129, 129, 129)";
    document.getElementById("s5").style.color="rgb(129, 129, 129)";
}

</script>

