<style>

.stars{
    display: flex;
    flex-direction: row;
}

</style>
<div class="stars" style="margin-left: 7px;padding: 15px;margin-top: 12px;">
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s1"><svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg></div>
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s2"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg></div>
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s3"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg></div>
    <div style="margin-right: 12px;color: rgb(129, 129, 129);" id="s4"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg></div>
    <div style="color: rgb(129, 129, 129);" id="s5"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg></div>
</div>
<br>


<input  class="revinp" type="text" name="keyword" value="<%= review.keyword %>" placeholder="Keyword" required><br>
<input  class="revinp" type="text" name="comment" value="<%= review.comment %>" placeholder="Comment" required><br>
<input type="text" name="rating" id="rate" value="<%= review.rating %>"  placeholder="" required style="visibility: hidden;">

<script>

document.getElementById("s1").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("rate").value="1";
});
document.getElementById("s2").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("rate").value="2";
});
document.getElementById("s3").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("s3").style.color="#ffe642";
    document.getElementById("rate").value="3";
});
document.getElementById("s4").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("s3").style.color="#ffe642";
    document.getElementById("s4").style.color="#ffe642";
    document.getElementById("rate").value="4";
});
document.getElementById("s5").addEventListener('click', function(){
    decolor();
    document.getElementById("s1").style.color="#ffe642";
    document.getElementById("s2").style.color="#ffe642";
    document.getElementById("s3").style.color="#ffe642";
    document.getElementById("s4").style.color="#ffe642";
    document.getElementById("s5").style.color="#ffe642";
    document.getElementById("rate").value="5";
});
document.getElementById('s'+document.getElementById("rate").value).click();

function decolor(){
    document.getElementById("s1").style.color="rgb(129, 129, 129)";
    document.getElementById("s2").style.color="rgb(129, 129, 129)";
    document.getElementById("s3").style.color="rgb(129, 129, 129)";
    document.getElementById("s4").style.color="rgb(129, 129, 129)";
    document.getElementById("s5").style.color="rgb(129, 129, 129)";
}

</script>

