<div class="mainrev" style="width: 1200px;"></div>

    <div class="revcard">

    <h2 style="text-align: center;font-family: 'Poppins',sans-serif;">Drop a Review</h2>

    <form action="/reviews/<%= review.id %>?_method=PUT" method="POST">
        <%- include('_form_field') %> 
        <div  class="tageditbuttons" style="display: flex; flex-direction: row;margin-left: 45px;">
            <div><a href="/reviews"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#ff4533" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg></a></div>
            <div style="margin-left: 55px;"><button class="datebutton" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#59e372" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg></button></div>
        </div>
    </form>

    </div>

</div>

<!-- EDIT TAG VIEW -->

<!-- instead of taking inputs here we're making a new partial file since we want this to be shared between new Tags and edit tags file -->