@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.contactbody {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    width: 100%;
    z-index: -1;
    margin-top: -4%;
    background: #222;
    font-family: "Josefin Sans";
    background: linear-gradient(45deg, #fe3a7d, #ff7b0a);
    overflow: hidden !important;
  }
  .contactbody * {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .contactbody *:before, .contactbody *:after {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    content: "";
    position: absolute;
    background: #fff;
  }
  .contactbody input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: pointer;
  }
  
  .contactbody input:checked ~ div:before {
    transform: scale(1);
    transition-delay: 0.2s;
  }
  .contactbody input:checked ~ div h1:before {
    transform: scaleY(1);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.4s;
  }
  .contactbody input:checked ~ div h1:after {
    box-shadow: 0 77px 0 1px #222, 0 72px 0 0px #fe3a7d;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scaleY(1) rotate(5deg);
    transition-delay: 0.5s;
  }
  
  .contactbody div:before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: #222;
    border-radius: 100%;
    transition: all 500ms cubic-bezier(1, 0.885, 0.32, 1);
    transform: scale(4);
    left: calc(50% - 250px);
    top: calc(50% - 250px);
  }
  .contactbody div h1 {
    margin: 0px;
    color: #fff;
    font-weight: 100;
    font-size: 100px;
    position: relative;
  }
  .contactbody div h1:after {
    width: 3px;
    height: 65px;
    top: 10px;
    background: linear-gradient(to bottom, #ff7b0a, #fe3a7d);
    right: -20px;
    display: inline-block;
    transform: scaleY(0) rotate(5deg);
    box-shadow: 0 77px 0 -5px #222, 0 72px 0 -5px #fe3a7d;
    transform-origin: bottom;
    transition: none;
  }
  .contactbody div h1:before {
    width: 137.5px;
    height: 3px;
    background: linear-gradient(to right, #ff7b0a, #fe3a7d);
    bottom: 2px;
    right: 0px;
    transform-origin: right;
    transform: scaleX(0);
    transition: none;
  }


#contacticons{
    opacity: 0;
    margin-top: 40vh;
    margin-left: 30vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.profileicon img{
    width: 90px;
    height: 90px;
    transition: 0.5s;
}

.profileicon img:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
