@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

#indextop{
    overflow: hidden !important;
    position: absolute;
    margin-top: -4%;
    z-index: -1;
    width: 100%;
    height: 110vh;
    background-color: antiquewhite;
}

.showcase
{
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  font-family: 'Poppins', sans-serif;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  display: none;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
  margin-top: -100px;
}

.text h2
{
  font-size: 4.5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 3.5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 0.9em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social{
  position: absolute;
  z-index: 10;
  top: 380px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li{
    overflow: hidden;
    list-style: none;
}
.social li a{
    overflow: hidden;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a:hover{
    overflow: hidden;
    transform: scale(0.5) translateY(-15px);
}


@media (max-width: 991px)
{
  .showcase,
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}


time {
  margin-left: -38%;
  margin-top: 7%;
  display: block;
  text-align: center;
  transform: scale(2);
}
time canvas {
  width: 40px;
  height: 40px;
}