
  
  .eventscard {
    padding: 0px;
    margin-right: 120px;
    width: 270px;
    height: 390px;
    position: relative;
    display: block;
    /* height: 100%;   */
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .postcard__image {  
    /* margin-left: -50%;     */
    width: 270px;
    height: 390px;
    margin-top: -20%;
  }
  
  .postcard__overlay {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(40 * 1px);    
    background-color: #fff;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }

  .eventscard:hover{
      transform: scale(1.04);
      transition: 0.3s;
  }
  
  .eventscard:hover .postcard__overlay {
    transform: translateY(0);
  }
  
  .postcard__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(40 * 1px) 0 0 0;    
    background-color: #fff;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .postcard__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .postcard__arc path {
    fill: #fff;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .eventscard:hover .postcard__header {
    transform: translateY(0);
  }
  
  .postcard__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .postcard__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .postcard__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .postcard__status {
    font-size: .8em;
    color: #c49dcf;
  }
  
  .postcard__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #9e8692;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    